.container {
  padding: 0 16px;
}

.pagination {
  margin-top: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 24px !important;
  text-align: center;
  margin-top: 20px;
}
