.title {
  text-align: center;
}
.pagination {
  margin-top: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.title {
  margin-bottom: 24px !important;
  text-align: center;
}
