.container {
  margin-bottom: 20px;
  padding: 0 16px;
  text-align: center;
}

.title {
  margin-top: 20px;
  font-size: 30px !important;
}

.tagsWrapper {
  margin-top: 24px;
  margin-bottom: 24px;
}

.tag {
  margin: 6px;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.loader {
  display: block;
  margin: 100px auto;
}

.errorResult {
  margin-top: 60px;
}
