.container {
  margin: 0 auto;
  text-align: center;
}

.tagsWrapper {
  margin-top: 24px;
  margin-bottom: 24px;
}

.tag {
  margin: 6px;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}
.title {
  margin-top: 20px;
  font-size: 30px !important;
}
